USE [QuanLyQuanAn]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 2017-06-07 4:34:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END




GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 2017-06-07 4:34:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANAN](
	[MABA] [varchar](10) NOT NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MABA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BANGLUONGNHANVIEN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGLUONGNHANVIEN](
	[MABL] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NULL,
	[THOIGIANBATDAU] [smalldatetime] NULL,
	[THOIGIANKETTHUC] [smalldatetime] NULL,
	[TONGTIENLUONG] [money] NULL,
	[NGAYLAP] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](10) NOT NULL,
	[MAMA] [varchar](10) NOT NULL,
	[SoLuongMA] [int] NULL,
	[TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMA] ASC,
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHDN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHDN](
	[MAHDN] [varchar](10) NOT NULL,
	[MATP] [varchar](10) NOT NULL,
	[SoLuongThucPham] [float] NULL,
 CONSTRAINT [PK_CTHDN] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MATP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTMA](
	[MAMA] [varchar](10) NOT NULL,
	[MATP] [varchar](10) NOT NULL,
	[KhoiLuongTP] [float] NULL,
 CONSTRAINT [PK_CTMA] PRIMARY KEY CLUSTERED 
(
	[MAMA] ASC,
	[MATP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTNL]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTNL](
	[MANV] [varchar](10) NOT NULL,
	[NgayLam] [date] NOT NULL,
	[TRALUONG] [int] NULL,
 CONSTRAINT [PK_CTNL] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTTP]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTTP](
	[MATP] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CTTP] PRIMARY KEY CLUSTERED 
(
	[MATP] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[MAHD] [varchar](10) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL DEFAULT (getdate()),
	[THOIGIANBATDAU] [smalldatetime] NULL DEFAULT (getdate()),
	[TONGTIEN] [money] NULL DEFAULT ((0)),
	[TIENDATHANHTOAN] [money] NULL DEFAULT ((0)),
	[TRANGTHAI] [int] NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[MABA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [varchar](10) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL DEFAULT (getdate()),
	[TONGTIEN] [money] NULL,
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](40) NULL,
	[SODIENTHOAI] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIMONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIMONAN](
	[MALOAIMA] [varchar](10) NOT NULL,
	[TENLOAIMA] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMA] [varchar](10) NOT NULL,
	[TENMA] [nvarchar](40) NULL,
	[GIA] [money] NULL,
	[MALOAIMA] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGAYLAM]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAYLAM](
	[THOIGIAN] [date] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[SOTAIKHOAN] [varchar](40) NULL,
	[DIACHI] [nvarchar](40) NULL,
	[SDT] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[DIACHI] [nvarchar](40) NULL,
	[SDT] [varchar](12) NULL,
	[NGVAOLAM] [smalldatetime] NULL,
	[PHANQUYEN] [int] NULL,
	[MUCLUONG] [money] NULL,
	[MATKHAU] [varchar](200) NULL DEFAULT ('1962026656160185351301320480154111117132155'),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSo](
	[MUCNHAP] [float] NULL DEFAULT ((0)),
	[PHANTRAMTRATRUOC] [float] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCPHAM]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUCPHAM](
	[MATP] [varchar](10) NOT NULL,
	[TENTP] [nvarchar](40) NULL,
	[GiaTP] [float] NULL DEFAULT ((0)),
	[KHOILUONGTONKHO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANAN] ([MABA], [TRANGTHAI]) VALUES (N'BA01', 2)
INSERT [dbo].[BANAN] ([MABA], [TRANGTHAI]) VALUES (N'BA02', 1)
INSERT [dbo].[BANAN] ([MABA], [TRANGTHAI]) VALUES (N'BA03', 1)
INSERT [dbo].[BANGLUONGNHANVIEN] ([MABL], [MANV], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTIENLUONG], [NGAYLAP]) VALUES (N'AVNBMMPIHG', N'NV02', CAST(N'2017-06-01 00:00:00' AS SmallDateTime), CAST(N'2017-06-30 00:00:00' AS SmallDateTime), 100000.0000, CAST(N'2017-06-01 22:34:00' AS SmallDateTime))
INSERT [dbo].[BANGLUONGNHANVIEN] ([MABL], [MANV], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTIENLUONG], [NGAYLAP]) VALUES (N'BL01', N'NV01', CAST(N'2017-05-04 00:00:00' AS SmallDateTime), CAST(N'2017-05-04 00:00:00' AS SmallDateTime), 20.0000, CAST(N'2017-05-04 00:00:00' AS SmallDateTime))
INSERT [dbo].[BANGLUONGNHANVIEN] ([MABL], [MANV], [THOIGIANBATDAU], [THOIGIANKETTHUC], [TONGTIENLUONG], [NGAYLAP]) VALUES (N'CGEEMHPGCC', N'NV09', CAST(N'2017-06-01 00:00:00' AS SmallDateTime), CAST(N'2017-06-30 00:00:00' AS SmallDateTime), 100000.0000, CAST(N'2017-06-01 22:34:00' AS SmallDateTime))
INSERT [dbo].[CTHD] ([MAHD], [MAMA], [SoLuongMA], [TRANGTHAI]) VALUES (N'CNLUEBSCLA', N'DSFILOVGCQ', 2, 2)
INSERT [dbo].[CTHD] ([MAHD], [MAMA], [SoLuongMA], [TRANGTHAI]) VALUES (N'CNLUEBSCLA', N'EPBGRLSUUJ', 2, 2)
INSERT [dbo].[CTHD] ([MAHD], [MAMA], [SoLuongMA], [TRANGTHAI]) VALUES (N'EQCERPKKIU', N'DSFILOVGCQ', 1, 2)
INSERT [dbo].[CTHDN] ([MAHDN], [MATP], [SoLuongThucPham]) VALUES (N'ADVILNMICK', N'DJNQPFLRAF', 205)
INSERT [dbo].[CTHDN] ([MAHDN], [MATP], [SoLuongThucPham]) VALUES (N'ASQLJFFJAL', N'NCPMOIMDQB', 23)
INSERT [dbo].[CTHDN] ([MAHDN], [MATP], [SoLuongThucPham]) VALUES (N'CCIEMGVUPL', N'NCPMOIMDQB', 2)
INSERT [dbo].[CTMA] ([MAMA], [MATP], [KhoiLuongTP]) VALUES (N'ALAMGBJSVC', N'FBGHQKSTRB', 1)
INSERT [dbo].[CTMA] ([MAMA], [MATP], [KhoiLuongTP]) VALUES (N'ALAMGBJSVC', N'QPEDSSCLQV', 5)
INSERT [dbo].[CTMA] ([MAMA], [MATP], [KhoiLuongTP]) VALUES (N'ALAMGBJSVC', N'TP02', 2)
INSERT [dbo].[CTNL] ([MANV], [NgayLam], [TRALUONG]) VALUES (N'nv01', CAST(N'2017-05-03' AS Date), 0)
INSERT [dbo].[CTNL] ([MANV], [NgayLam], [TRALUONG]) VALUES (N'nv01', CAST(N'2017-05-04' AS Date), 1)
INSERT [dbo].[CTNL] ([MANV], [NgayLam], [TRALUONG]) VALUES (N'nv01', CAST(N'2017-05-05' AS Date), 0)
INSERT [dbo].[CTTP] ([MATP], [MANCC]) VALUES (N'DJNQPFLRAF', N'NCC01')
INSERT [dbo].[CTTP] ([MATP], [MANCC]) VALUES (N'EGBQIRKPLK', N'NCC02')
INSERT [dbo].[CTTP] ([MATP], [MANCC]) VALUES (N'GONSHBMROP', N'NCC01')
INSERT [dbo].[HOADONBANHANG] ([MAHD], [NGAYLAP], [THOIGIANBATDAU], [TONGTIEN], [TIENDATHANHTOAN], [TRANGTHAI], [MAKH], [MANV], [MABA]) VALUES (N'CNLUEBSCLA', CAST(N'2017-05-26 17:26:00' AS SmallDateTime), CAST(N'2017-05-26 17:26:00' AS SmallDateTime), 40000.0000, 230.0000, 1, NULL, N'ADMIN', N'BA05')
INSERT [dbo].[HOADONBANHANG] ([MAHD], [NGAYLAP], [THOIGIANBATDAU], [TONGTIEN], [TIENDATHANHTOAN], [TRANGTHAI], [MAKH], [MANV], [MABA]) VALUES (N'EQCERPKKIU', CAST(N'2017-06-07 09:50:00' AS SmallDateTime), CAST(N'2017-06-07 09:50:00' AS SmallDateTime), 10000.0000, 10000.0000, 1, NULL, N'ADMIN', N'BA10')
INSERT [dbo].[HOADONBANHANG] ([MAHD], [NGAYLAP], [THOIGIANBATDAU], [TONGTIEN], [TIENDATHANHTOAN], [TRANGTHAI], [MAKH], [MANV], [MABA]) VALUES (N'FHFLRNQQTP', CAST(N'2017-05-26 22:43:00' AS SmallDateTime), CAST(N'2017-05-26 22:43:00' AS SmallDateTime), 15000.0000, 15.0000, 1, NULL, N'ADMIN', N'BA09')
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'ADVILNMICK', CAST(N'2017-06-01 22:14:00' AS SmallDateTime), 205000.0000, 0)
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'ASQLJFFJAL', CAST(N'2017-06-07 10:44:00' AS SmallDateTime), 46000.0000, 0)
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [TONGTIEN], [TRANGTHAI]) VALUES (N'CCIEMGVUPL', CAST(N'2017-06-07 10:57:00' AS SmallDateTime), 4000.0000, 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI]) VALUES (N'ahihi', N'Nguyễn Văn H', N'123456789')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI]) VALUES (N'AOFLSELANJ', N'Trần Gia', N'09814715123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SODIENTHOAI]) VALUES (N'BKPPMUCIAP', N'Phan Hải Trường', N'1231231212')
INSERT [dbo].[LOAIMONAN] ([MALOAIMA], [TENLOAIMA]) VALUES (N'BUN', N'Bún')
INSERT [dbo].[LOAIMONAN] ([MALOAIMA], [TENLOAIMA]) VALUES (N'COM', N'Cơm')
INSERT [dbo].[LOAIMONAN] ([MALOAIMA], [TENLOAIMA]) VALUES (N'L03', N'Món ăn thường nhật')
INSERT [dbo].[MONAN] ([MAMA], [TENMA], [GIA], [MALOAIMA]) VALUES (N'ALAMGBJSVC', N'Bún Riêu Tôm Thịt', 15000.0000, N'BUN')
INSERT [dbo].[MONAN] ([MAMA], [TENMA], [GIA], [MALOAIMA]) VALUES (N'ALMVHTBFGC', N'Súp Cua', 15000.0000, N'L07')
INSERT [dbo].[MONAN] ([MAMA], [TENMA], [GIA], [MALOAIMA]) VALUES (N'DSFILOVGCQ', N'Pepsi', 10000.0000, N'SINHTO')
INSERT [dbo].[NGAYLAM] ([THOIGIAN]) VALUES (CAST(N'2017-05-03' AS Date))
INSERT [dbo].[NGAYLAM] ([THOIGIAN]) VALUES (CAST(N'2017-05-04' AS Date))
INSERT [dbo].[NGAYLAM] ([THOIGIAN]) VALUES (CAST(N'2017-05-05' AS Date))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [SOTAIKHOAN], [DIACHI], [SDT]) VALUES (N'NCC01', N'123456789', N'DIA CHI 1', N'123436578')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [SOTAIKHOAN], [DIACHI], [SDT]) VALUES (N'NCC02', N'000000000', N'DIA CHI 2', N'123123123')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [SOTAIKHOAN], [DIACHI], [SDT]) VALUES (N'NCC03', N'111111111', N'DIA CHI 3', N'333333333')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [NGVAOLAM], [PHANQUYEN], [MUCLUONG], [MATKHAU]) VALUES (N'ADMIN', N'nguyễn Hoàng Nam', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), N'LONG AN', N'123456789', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), 0, 1.0000, N'1962026656160185351301320480154111117132155')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [NGVAOLAM], [PHANQUYEN], [MUCLUONG], [MATKHAU]) VALUES (N'NV01', N'Nhân viên 01', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), N'LONG AN', N'123456789', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), 1, 100000.0000, N'1962026656160185351301320480154111117132155')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [NGVAOLAM], [PHANQUYEN], [MUCLUONG], [MATKHAU]) VALUES (N'NV02', N'NHÀ BẾP', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), N'LONG AN', N'123456789', CAST(N'2015-07-24 00:00:00' AS SmallDateTime), 2, 100000.0000, N'1962026656160185351301320480154111117132155')
INSERT [dbo].[ThamSo] ([MUCNHAP], [PHANTRAMTRATRUOC]) VALUES (50, 50)
INSERT [dbo].[THUCPHAM] ([MATP], [TENTP], [GiaTP], [KHOILUONGTONKHO]) VALUES (N'BMSLTITOCI', N'Sả bâm', 5000, 95)
INSERT [dbo].[THUCPHAM] ([MATP], [TENTP], [GiaTP], [KHOILUONGTONKHO]) VALUES (N'BTQTVSCRME', N'Lá cẩm', 5000, 100)
INSERT [dbo].[THUCPHAM] ([MATP], [TENTP], [GiaTP], [KHOILUONGTONKHO]) VALUES (N'CAOBCFNHQD', N'Sữa', 10000, 100)
ALTER TABLE [dbo].[BANGLUONGNHANVIEN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONBANHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAMA])
REFERENCES [dbo].[MONAN] ([MAMA])
GO
ALTER TABLE [dbo].[CTHDN]  WITH CHECK ADD FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CTHDN]  WITH CHECK ADD FOREIGN KEY([MATP])
REFERENCES [dbo].[THUCPHAM] ([MATP])
GO
ALTER TABLE [dbo].[CTMA]  WITH CHECK ADD FOREIGN KEY([MAMA])
REFERENCES [dbo].[MONAN] ([MAMA])
GO
ALTER TABLE [dbo].[CTMA]  WITH CHECK ADD FOREIGN KEY([MATP])
REFERENCES [dbo].[THUCPHAM] ([MATP])
GO
ALTER TABLE [dbo].[CTNL]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CTNL]  WITH CHECK ADD FOREIGN KEY([NgayLam])
REFERENCES [dbo].[NGAYLAM] ([THOIGIAN])
GO
ALTER TABLE [dbo].[CTTP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CTTP]  WITH CHECK ADD FOREIGN KEY([MATP])
REFERENCES [dbo].[THUCPHAM] ([MATP])
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD FOREIGN KEY([MABA])
REFERENCES [dbo].[BANAN] ([MABA])
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD FOREIGN KEY([MALOAIMA])
REFERENCES [dbo].[LOAIMONAN] ([MALOAIMA])
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD CHECK  (([TRANGTHAI]>=(-1) AND [TRANGTHAI]<=(2)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([SoLuongMA]>(0)))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD CHECK  (([TRANGTHAI]>=(-1) AND [TRANGTHAI]<=(2)))
GO
ALTER TABLE [dbo].[CTNL]  WITH CHECK ADD CHECK  (([TRALUONG]>=(0) AND [TRALUONG]<=(1)))
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD CHECK  (([TRANGTHAI]>=(-1) AND [TRANGTHAI]<=(1)))
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD CHECK  (([TRANGTHAI]>=(0) AND [TRANGTHAI]<=(1)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([PHANQUYEN]>=(0) AND [PHANQUYEN]<=(3)))
GO
ALTER TABLE [dbo].[THUCPHAM]  WITH CHECK ADD CHECK  (([KHOILUONGTONKHO]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[deleteNCC]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteNCC]
@mancc VARCHAR(10)
AS
BEGIN
	DELETE dbo.CTTP WHERE MANCC = @mancc
	DELETE dbo.NHACUNGCAP WHERE MANCC = @mancc
END




GO
/****** Object:  StoredProcedure [dbo].[getListFoodCooking]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getListFoodCooking]
AS
BEGIN
SELECT  CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA,SoLuongMA FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.CTHD.TRANGTHAI=0
ORDER BY THOIGIANBATDAU ASC
END




GO
/****** Object:  StoredProcedure [dbo].[getListFoodDone]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getListFoodDone]
AS
BEGIN
SELECT  CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA,SoLuongMA FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.CTHD.TRANGTHAI=1
END




GO
/****** Object:  StoredProcedure [dbo].[getListFoodWaiting]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getListFoodWaiting]
AS
BEGIN
SELECT  CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA,SoLuongMA FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.CTHD.TRANGTHAI=-1 AND dbo.HOADONBANHANG.TRANGTHAI=0
ORDER BY THOIGIANBATDAU ASC
END




GO
/****** Object:  StoredProcedure [dbo].[getSoLuongKHbyMAKH]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getSoLuongKHbyMAKH]
@makh VARCHAR(10)
AS
BEGIN
	SELECT COUNT(*) FROM dbo.KHACHHANG WHERE MAKH = @makh
END




GO
/****** Object:  StoredProcedure [dbo].[getSoLuongNCCbyMANCC]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[getSoLuongNCCbyMANCC]
@mancc VARCHAR(10)
AS
BEGIN
	SELECT COUNT(*) FROM dbo.NHACUNGCAP WHERE MANCC=@mancc
END




GO
/****** Object:  StoredProcedure [dbo].[insertDefaultQuanAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[insertDefaultQuanAn]
AS
BEGIN
INSERT	INTO dbo.ThamSo( MUCNHAP,PHANTRAMTRATRUOC)VALUES( 0.0,0.0)
END




GO
/****** Object:  StoredProcedure [dbo].[insertNCC]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[insertNCC]
@MANCC VARCHAR(10), @sotaikhoan VARCHAR(40),@Diachi NVARCHAR(40), @sdt VARCHAR(12)
AS
BEGIN
	INSERT dbo.NHACUNGCAP(MANCC,SOTAIKHOAN,DIACHI,SDT) VALUES(@MANCC,@sotaikhoan,@Diachi,@sdt)
END




GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-d3932608-945c-439c-a298-6324a28d1b65]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-d3932608-945c-439c-a298-6324a28d1b65] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65') > 0)   DROP SERVICE [SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65]; if (OBJECT_ID('SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-d3932608-945c-439c-a298-6324a28d1b65]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-d3932608-945c-439c-a298-6324a28d1b65]; END COMMIT TRANSACTION; END



GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-e3b3f567-8d48-44c4-800d-466f9c3352a0]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-e3b3f567-8d48-44c4-800d-466f9c3352a0] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0') > 0)   DROP SERVICE [SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0]; if (OBJECT_ID('SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-e3b3f567-8d48-44c4-800d-466f9c3352a0]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-e3b3f567-8d48-44c4-800d-466f9c3352a0]; END COMMIT TRANSACTION; END


GO
/****** Object:  StoredProcedure [dbo].[UpdateCTNL]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateCTNL]
@manv VARCHAR(10),@ngayBatDau DATE, @ngayKetThuc DATE
AS
BEGIN
	UPDATE dbo.CTNL SET TRALUONG=1 WHERE NgayLam<=@ngayKetThuc AND NgayLam >=@ngayBatDau AND MANV=@manv
END




GO
/****** Object:  StoredProcedure [dbo].[updateNhaCC]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateNhaCC]
@MANCC VARCHAR(10), @sotaikhoan VARCHAR(40),@Diachi NVARCHAR(40), @sdt VARCHAR(12)
AS
BEGIN
	UPDATE dbo.NHACUNGCAP SET SOTAIKHOAN=@sotaikhoan , DIACHI = @Diachi , SDT = @sdt WHERE MANCC = @MANCC
END




GO
/****** Object:  StoredProcedure [dbo].[USP_AlterQuanAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_AlterQuanAn]
@import FLOAT, @prePersen FLOAT
AS
BEGIN
UPDATE dbo.ThamSo SET MUCNHAP = @import, PHANTRAMTRATRUOC= @prePersen
END




GO
/****** Object:  StoredProcedure [dbo].[USP_checkHoaDonPre]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_checkHoaDonPre]
@MAHD VARCHAR(10)
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET TRANGTHAI=0 WHERE MAHD = @MAHD
END




GO
/****** Object:  StoredProcedure [dbo].[USP_checkMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_checkMonAn]
@mama VARCHAR(10)
AS
BEGIN
SELECT COUNT(*)FROM dbo.MONAN WHERE MAMA =@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_checkOUTHOaDonPre]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC [dbo].[USP_checkOUTHOaDonPre]
@mahd VARCHAR(10)
AS
BEGIN
	DECLARE @PhanTramTraTruoc FLOAT
	SELECT @PhanTramTraTruoc=PhanTramTraTruoc FROM dbo.ThamSo
	UPDATE dbo.HOADONBANHANG SET TIENDATHANHTOAN = TONGTIEN*@PhanTramTraTruoc/100 WHERE MAHD=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_CheckThucPham]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CheckThucPham]
@matp VARCHAR(10)
AS
BEGIN
	SELECT COUNT(*)FROM dbo.THUCPHAM WHERE MATP=@matp
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteCTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC [dbo].[USP_deleteCTHD]
@mahd VARCHAR(10), @mama VARCHAR(10)
AS
BEGIN
	DELETE dbo.CTHD WHERE MAHD=@mahd AND MAMA =@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteCTMDbyMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_deleteCTMDbyMAMA]
@mama VARCHAR(10)
AS
BEGIN
	DELETE dbo.CTMA WHERE MAMA=@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteHoaDonPre]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_deleteHoaDonPre]
@MAHD VARCHAR(10)
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET TRANGTHAI=1 WHERE MAHD = @MAHD
	DELETE dbo.CTHD WHERE MAHD=@MAHD
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteKhachHang]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_deleteKhachHang]
@makh VARCHAR(10)
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET MAKH=NULL WHERE MAKH=@makh
	DELETE dbo.KHACHHANG WHERE MAKH=@makh
END




GO
/****** Object:  StoredProcedure [dbo].[USP_DELETELOAIMONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETELOAIMONAN]
@MALOAIMA VARCHAR(10)
AS
BEGIN
	UPDATE dbo.MONAN SET MALOAIMA=NULL WHERE MALOAIMA=@MALOAIMA
	DELETE dbo.LOAIMONAN WHERE MALOAIMA=@MALOAIMA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteMonAnByMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_deleteMonAnByMAMA]
@mama VARCHAR(10)
AS
BEGIN
	DELETE dbo.CTHD WHERE MAMA=@mama
	DELETE dbo.CTMA WHERE MAMA=@mama
	DELETE dbo.MONAN WHERE MAMA=@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteNhanVien]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_deleteNhanVien]
@manv VARCHAR(10)
AS
BEGIN
DELETE dbo.CTNL WHERE MANV =@manv
UPDATE dbo.BANGLUONGNHANVIEN SET MANV=NULL WHERE MANV=@manv
UPDATE dbo.HOADONBANHANG SET MANV=NULL WHERE MANV=@manv
DELETE dbo.NHANVIEN WHERE MANV = @manv
END




GO
/****** Object:  StoredProcedure [dbo].[USP_DELETETABLE]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_DELETETABLE]
@maba VARCHAR(10)
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET MABA=NULL WHERE MABA=@maba
	DELETE	dbo.BANAN	WHERE MABA = @maba
END




GO
/****** Object:  StoredProcedure [dbo].[USP_deleteThucPham]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_deleteThucPham]
@matp VARCHAR(10)
AS
BEGIN
	DELETE dbo.CTHDN WHERE MATP=@matp
	DELETE dbo.CTMA WHERE MATP=@matp
	DELETE dbo.CTTP WHERE MATP=@matp
	DELETE dbo.THUCPHAM WHERE MATP=@matp
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETACCOUNTBYUSERNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETACCOUNTBYUSERNAME]
@USERNAME VARCHAR(10)
AS
BEGIN
	SELECT *FROM dbo.NHANVIEN WHERE MANV = @USERNAME
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getBangLuongTemp]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getBangLuongTemp]
@tungay DATE, @denngay DATE
AS
BEGIN
	SELECT CTNL.MANV,HOTEN,MUCLUONG*COUNT(NgayLam) AS [TIENLUONG] FROM dbo.CTNL JOIN dbo.NHANVIEN ON NHANVIEN.MANV = CTNL.MANV
	 WHERE TRALUONG=0 AND @tungay<=NgayLam AND NgayLam<=@denngay GROUP BY CTNL.MANV,HOTEN,MUCLUONG
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getBangLuongTempbyTen]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getBangLuongTempbyTen]
@tungay DATE, @denngay DATE, @tennv NVARCHAR(40)
AS
BEGIN
	DECLARE @ten NVARCHAR(40)= '%'+dbo.fuConvertToUnsign1(@tennv)+'%'
	SELECT CTNL.MANV,HOTEN,MUCLUONG*COUNT(NgayLam) AS [TIENLUONG] FROM dbo.CTNL JOIN dbo.NHANVIEN ON NHANVIEN.MANV = CTNL.MANV
	 WHERE TRALUONG=0 AND @tungay<=NgayLam AND NgayLam<=@denngay AND dbo.fuConvertToUnsign1(HOTEN) LIKE @ten  GROUP BY CTNL.MANV,HOTEN,MUCLUONG
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETBillsByMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETBillsByMAHD]
@mahd VARCHAR(10)
AS
BEGIN
SELECT  CTHD.MAHD,MANV,TENMA,GIA,SoLuongMA*GIA AS [THANHTIEN],SoLuongMA AS SOLUONG  FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE CTHD.MAHD=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETBillsNonCheckByMABA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETBillsNonCheckByMABA]
@maba VARCHAR(10)
AS
BEGIN
SELECT  CTHD.MAHD,MANV,TENMA,GIA,SoLuongMA*GIA AS [THANHTIEN],SoLuongMA AS SOLUONG  FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.HOADONBANHANG.TRANGTHAI=0 AND BANAN.MABA=@maba
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getCountByMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getCountByMAMA]
@mama VARCHAR(10)
AS
BEGIN
DECLARE @isTonKho INT = 0
DECLARE @count INT =0
SELECT @isTonKho=COUNT(MAMA) FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KHOILUONGTONKHO< KhoiLuongTP AND MAMA=@mama
IF(@isTonKho=0)
BEGIN
SELECT MAMA,CONVERT(INT,KHOILUONGTONKHO/KhoiLuongTP) AS[SL] INTO temp FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KhoiLuongTP<= KHOILUONGTONKHO
SELECT MIN(SL) FROM temp WHERE MAMA =@mama GROUP BY MAMA
DROP TABLE temp
END
ELSE
BEGIN
	SELECT @count AS[SL]
END
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getCTMAbyMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getCTMAbyMAMA]
@mama VARCHAR(10)
AS
BEGIN
SELECT MAMA,CTMA.MATP,TENTP,KhoiLuongTP FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP=CTMA.MATP WHERE MAMA=@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetDateHoaDonPreByMABA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetDateHoaDonPreByMABA]
@maba VARCHAR(10)
AS
BEGIN
	SELECT THOIGIANBATDAU  FROM  dbo.HOADONBANHANG
WHERE dbo.HOADONBANHANG.TRANGTHAI=-1 AND MABA=@maba
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETDAYWORKCHECKBYUSERNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_GETDAYWORKCHECKBYUSERNAME]
@MANV VARCHAR(10)
AS
BEGIN
	SELECT	MANV,THOIGIAN FROM	dbo.CTNL JOIN  dbo.NGAYLAM ON NGAYLAM.THOIGIAN = CTNL.NgayLam WHERE	MANV = @MANV AND TRALUONG=1
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETDAYWORKNONCHECKBYUSERNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_GETDAYWORKNONCHECKBYUSERNAME]
@MANV VARCHAR(10)
AS
BEGIN
	SELECT	MANV,THOIGIAN FROM	dbo.CTNL JOIN dbo.NGAYLAM ON NGAYLAM.THOIGIAN = CTNL.NgayLam WHERE	MANV = @MANV AND TRALUONG=0 
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getHOADONbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getHOADONbyMAHD]
@mahd VARCHAR(10)
AS
BEGIN
	SELECT *FROM dbo.HOADONBANHANG WHERE MAHD=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETHOADONNonCheckByMABA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GETHOADONNonCheckByMABA]
@MABA VARCHAR(10)
AS
BEGIN
SELECT MAHD FROM dbo.HOADONBANHANG WHERE TRANGTHAI =0 AND MABA =@MABA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETHOADONPreByMABA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GETHOADONPreByMABA]
@MABA VARCHAR(10)
AS
BEGIN
SELECT MAHD FROM dbo.HOADONBANHANG WHERE TRANGTHAI =-1 AND MABA =@MABA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getKHACHHANGHOADONbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getKHACHHANGHOADONbyMAHD]
@MAHD VARCHAR(10)
AS
BEGIN
SELECT dbo.KHACHHANG.MAKH,TENKH,SODIENTHOAI,THOIGIANBATDAU,MAHD FROM dbo.HOADONBANHANG JOIN dbo.KHACHHANG ON KHACHHANG.MAKH = HOADONBANHANG.MAKH
											WHERE MAHD =@MAHD
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListBangLuongbyThoiGian]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListBangLuongbyThoiGian]
@TuNgay SMALLDATETIME, @DenNgay SMALLDATETIME
AS
BEGIN
	SELECT *FROM dbo.BANGLUONGNHANVIEN WHERE NGAYLAP<=@DenNgay AND NGAYLAP >=@TuNgay
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListCTHDN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListCTHDN]
@mahdn VARCHAR(10)
AS
BEGIN
	SELECT MAHDN,TENTP AS [MATP],SoLuongThucPham,SoLuongThucPham *GiaTP AS [THANHTIEN] FROM dbo.CTHDN JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTHDN.MATP WHERE MAHDN=@mahdn
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTFOOD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GETLISTFOOD]
AS
BEGIN

	SELECT MAMA,CONVERT(INT,KHOILUONGTONKHO/KhoiLuongTP) AS[SL] INTO temp FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KhoiLuongTP<= KHOILUONGTONKHO
	SELECT *FROM dbo.MONAN JOIN (SELECT MAMA,MIN(SL) AS [SL] FROM temp GROUP BY MAMA) AS CTSL ON CTSL.MAMA = MONAN.MAMA
	WHERE CTSL.SL>0 AND CTSL.MAMA NOT IN(SELECT MAMA FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KHOILUONGTONKHO< KhoiLuongTP)
	DROP TABLE temp
	
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTFOODBYCATEGORY]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC [dbo].[USP_GETLISTFOODBYCATEGORY]
@maloaima VARCHAR(10)
AS
BEGIN
	SELECT MAMA,CONVERT(INT,KHOILUONGTONKHO/KhoiLuongTP) AS[SL] INTO temp FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KhoiLuongTP<= KHOILUONGTONKHO
	SELECT *FROM dbo.MONAN JOIN (SELECT MAMA,MIN(SL) AS [SL] FROM temp GROUP BY MAMA) AS CTSL ON CTSL.MAMA = MONAN.MAMA
	WHERE  MALOAIMA=@maloaima and CTSL.SL>0 AND CTSL.MAMA NOT IN(SELECT MAMA FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KHOILUONGTONKHO< KhoiLuongTP)
	DROP TABLE temp
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTFOODBYNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc	[dbo].[USP_GETLISTFOODBYNAME]
@name Nvarchar(40)
AS
BEGIN
	SELECT MAMA,CONVERT(INT,KHOILUONGTONKHO/KhoiLuongTP) AS[SL] INTO temp FROM dbo.CTMA JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTMA.MATP WHERE KhoiLuongTP<= KHOILUONGTONKHO
	DECLARE @namee NVARCHAR(40)= '%'+dbo.fuConvertToUnsign1(@name)+'%'
	DECLARE @nameee NVARCHAR(40)= dbo.fuConvertToUnsign1(@name)+'%'
	SELECT * FROM dbo.MONAN JOIN (SELECT MAMA,MIN(SL) AS [SL] FROM temp GROUP BY MAMA) AS CTSL ON CTSL.MAMA = MONAN.MAMA WHERE dbo.fuConvertToUnsign1(TENMA) like @namee AND CTSL.SL>0
	DROP TABLE temp
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListHoaDonbyThoiGian]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getListHoaDonbyThoiGian]
@tungay SMALLDATETIME, @denngay SMALLDATETIME
AS
BEGIN
	SELECT *FROM dbo.HOADONBANHANG WHERE NGAYLAP<=@denngay AND NGAYLAP>=@tungay
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListHoaDonNhapbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListHoaDonNhapbyMAHD]
@mahd VARCHAR(10)
AS
BEGIN
	DECLARE @mahoadon VARCHAR(10) = '%'+dbo.fuConvertToUnsign1(@mahd)+'%'
	SELECT *FROM dbo.HOADONNHAP WHERE dbo.fuConvertToUnsign1(MAHDN) LIKE @mahoadon
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListHoaDonNHapbyThoiGian]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListHoaDonNHapbyThoiGian]
@TuNgay SMALLDATETIME, @DenNgay SMALLDATETIME
AS
BEGIN
	SELECT *FROM dbo.HOADONNHAP WHERE NGAYLAP<=@DenNgay AND NGAYLAP >=@TuNgay
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListHoaDonNhapChuaXacNhanbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListHoaDonNhapChuaXacNhanbyMAHD]
@mahd VARCHAR(10)
AS
BEGIN
	DECLARE @mahoadon VARCHAR(10) = '%'+dbo.fuConvertToUnsign1(@mahd)+'%'
	SELECT *FROM dbo.HOADONNHAP WHERE dbo.fuConvertToUnsign1(MAHDN) LIKE @mahoadon AND TRANGTHAI=0
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListKhachHang]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getListKhachHang]
AS
BEGIN
	SELECT *FROM dbo.KHACHHANG
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListKhachHangbyTen]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListKhachHangbyTen]
@ten NVARCHAR(40)
AS
BEGIN
	DECLARE @tenkh NVARCHAR(40) = '%'+dbo.fuConvertToUnsign1(@ten)+'%'
	SELECT *FROM dbo.KHACHHANG WHERE dbo.fuConvertToUnsign1(TENKH) like @tenkh
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTLOAIMONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC [dbo].[USP_GETLISTLOAIMONAN]
AS
BEGIN
SELECT *FROM dbo.LOAIMONAN
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListMonAn]
AS
BEGIN
	SELECT *FROM dbo.MONAN
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTMonAnbyLoaiMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC [dbo].[USP_GETLISTMonAnbyLoaiMonAn]
@maloaima VARCHAR(10)
AS
BEGIN
	SELECT * FROM dbo.MONAN
	WHERE  MALOAIMA=@maloaima
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTMonAnbyNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc	[dbo].[USP_GETLISTMonAnbyNAME]
@name Nvarchar(40)
AS
BEGIN
	DECLARE @namee NVARCHAR(40)= '%'+dbo.fuConvertToUnsign1(@name)+'%'
	SELECT * FROM dbo.MONAN WHERE dbo.fuConvertToUnsign1(TENMA) like @namee
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhaCungCap]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getListNhaCungCap]
AS
BEGIN
SELECT *FROM dbo.NHACUNGCAP
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhaCungCapbyMAnccganDung]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getListNhaCungCapbyMAnccganDung]
@mancc VARCHAR(10)
AS
BEGIN
DECLARE @ten NVARCHAR(40) ='%'+dbo.fuConvertToUnsign1(@mancc)+'%'
SELECT *FROM  dbo.NHACUNGCAP WHERE dbo.fuConvertToUnsign1(MANCC)LIKE @ten
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhaCungCapbyMATP]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListNhaCungCapbyMATP]
@matp VARCHAR(10)
AS
BEGIN
SELECT *FROM  dbo.NHACUNGCAP WHERE MANCC IN (SELECT DISTINCT MANCC FROM dbo.CTTP WHERE MATP=@matp)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhanVien]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListNhanVien]
AS
BEGIN
SELECT *FROM dbo.NHANVIEN WHERE MANV <> 'ADMIN'
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhanVienbyTen]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc	[dbo].[USP_getListNhanVienbyTen]
@TenNV Nvarchar(40)
AS
BEGIN
	DECLARE @namee NVARCHAR(40)= '%'+dbo.fuConvertToUnsign1(@TenNV)+'%'
	SELECT * FROM dbo.NHANVIEN WHERE dbo.fuConvertToUnsign1(HOTEN) like @namee AND MANV<>'ADMIN'
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListNhanVienReport]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListNhanVienReport]
AS
BEGIN
SELECT MANV [Mã nhân viên], HOTEN [Họ tên], NGAYSINH[Ngày sinh],DIACHI[Địa chỉ],SDT[Số điện thoại],NGVAOLAM[Ngày vào làm],MUCLUONG[Mức lương] FROM dbo.NHANVIEN WHERE MANV <> 'ADMIN'
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListQuanAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_getListQuanAn]
AS
BEGIN
SELECT *FROM	dbo.ThamSo
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETLISTTABLE]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_GETLISTTABLE]
AS
BEGIN
	SELECT *FROM dbo.BANAN
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListThucPham]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getListThucPham]
AS
BEGIN
SELECT *FROM dbo.THUCPHAM
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListThucPhambyName]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc	[dbo].[USP_getListThucPhambyName]
@name Nvarchar(40)
AS
BEGIN
	DECLARE @namee NVARCHAR(40)= '%'+dbo.fuConvertToUnsign1(@name)+'%'
	SELECT * FROM dbo.THUCPHAM WHERE dbo.fuConvertToUnsign1(TENTP) like @namee
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListThucPhamDuoiMuc]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListThucPhamDuoiMuc]
AS
BEGIN
DECLARE @mucnhap FLOAT = 0;
SELECT @mucnhap=MUCNHAP FROM dbo.ThamSo
SELECT *FROM dbo.THUCPHAM WHERE KHOILUONGTONKHO<=@mucnhap
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getListThucPhamTrenMuc]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_getListThucPhamTrenMuc]
AS
BEGIN
DECLARE @mucnhap FLOAT = 0;
SELECT @mucnhap=MUCNHAP FROM dbo.ThamSo
SELECT *FROM dbo.THUCPHAM WHERE KHOILUONGTONKHO>@mucnhap
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getLoaiMAbyMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getLoaiMAbyMAMA]
@mama VARCHAR(10)
AS
BEGIN
	SELECT dbo.LOAIMONAN.MALoaiMA,TENLOAIMA FROM dbo.MONAN JOIN dbo.LOAIMONAN ON LOAIMONAN.MALOAIMA = MONAN.MALOAIMA WHERE MAMA=@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETnonCheckLISTHOADONBYMABA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETnonCheckLISTHOADONBYMABA]
@maba VARCHAR(10)
AS
BEGIN
SELECT  CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA,SUM(SoLuongMA) AS [SoLuongMA] FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.HOADONBANHANG.TRANGTHAI=0 AND BANAN.MABA=@maba
GROUP BY CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetPassByMANV]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetPassByMANV]
@manv VARCHAR(10)
AS
BEGIN
	SELECT MATKHAU FROM dbo.NHANVIEN WHERE MANV=@manv
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GETPreLISTHOADONbyMAKHandMaHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GETPreLISTHOADONbyMAKHandMaHD]
@makh VARCHAR(10),@mahd VARCHAR(10)
AS
BEGIN
SELECT  CTHD.MAHD,BANAN.MABA,THOIGIANBATDAU,MONAN.MAMA,TENMA,GIA,SoLuongMA FROM dbo.BANAN JOIN dbo.HOADONBANHANG
 ON HOADONBANHANG.MABA = BANAN.MABA JOIN dbo.CTHD
 ON CTHD.MAHD = HOADONBANHANG.MAHD JOIN dbo.MONAN
 ON MONAN.MAMA = CTHD.MAMA
WHERE dbo.HOADONBANHANG.TRANGTHAI=-1 AND MAKH=@makh AND CTHD.MAHD=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetThongKeChiTietTheoLoaiMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetThongKeChiTietTheoLoaiMonAn]
@tenma VARCHAR(10),@thoigianbatdau SMALLDATETIME,@thoigianketthuc SMALLDATETIME
AS
BEGIN
DECLARE @ten NVARCHAR(10)= '%'+ dbo.fuConvertToUnsign1(@tenma)+'%' 
SELECT dbo.MONAN.MAMA,TENMA,CONVERT(DATE,NGAYLAP) AS NGAYLAP,SUM(SoLuongMA)SoLuongMA,GIA,LOAIMONAN.MALOAIMA,TENLOAIMA  FROM dbo.CTHD JOIN dbo.MONAN
ON MONAN.MAMA = CTHD.MAMA 
JOIN dbo.HOADONBANHANG ON HOADONBANHANG.MAHD = CTHD.MAHD
JOIN dbo.LOAIMONAN ON LOAIMONAN.MALOAIMA = MONAN.MALOAIMA
WHERE NGAYLAP <=@thoigianketthuc AND NGAYLAP>=@thoigianbatdau AND dbo.fuConvertToUnsign1(TENMA) LIKE @ten
GROUP BY CONVERT(DATE,NGAYLAP) ,dbo.MONAN.MAMA,TENMA,GIA,LOAIMONAN.MALOAIMA,TENLOAIMA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetThongKeTheoLoaiMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetThongKeTheoLoaiMonAn]
@tenma VARCHAR(10),@thoigianbatdau SMALLDATETIME,@thoigianketthuc SMALLDATETIME
AS
BEGIN
DECLARE @ten NVARCHAR(10)= '%'+ dbo.fuConvertToUnsign1(@tenma)+'%' 
SELECT LOAIMONAN.MALOAIMA,TENLOAIMA,SUM(SoLuongMA) AS SoLan FROM dbo.CTHD JOIN dbo.MONAN ON MONAN.MAMA = CTHD.MAMA 
JOIN dbo.HOADONBANHANG ON HOADONBANHANG.MAHD = CTHD.MAHD
JOIN dbo.LOAIMONAN ON LOAIMONAN.MALOAIMA = MONAN.MALOAIMA
WHERE NGAYLAP <=@thoigianketthuc AND NGAYLAP>=@thoigianbatdau AND dbo.fuConvertToUnsign1(TENLOAIMA) LIKE @ten
GROUP BY LOAIMONAN.MALOAIMA, TENLOAIMA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_getThongKeTheoTenchiTiet]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_getThongKeTheoTenchiTiet]
@tenma NVARCHAR(40) , @tuNgay SMALLDATETIME, @denngay SMALLDATETIME
AS
BEGIN
DECLARE @ten NVARCHAR(10)= '%'+ dbo.fuConvertToUnsign1(@tenma)+'%' 
SELECT dbo.MONAN.MAMA,TENMA,CONVERT(DATE,NGAYLAP) AS NGAYLAP,SUM(SoLuongMA)SoLuongMA,GIA  FROM dbo.CTHD JOIN dbo.MONAN
ON MONAN.MAMA = CTHD.MAMA 
JOIN dbo.HOADONBANHANG ON HOADONBANHANG.MAHD = CTHD.MAHD
WHERE NGAYLAP <=@denngay AND NGAYLAP>=@tuNgay AND dbo.fuConvertToUnsign1(TENMA) LIKE @ten
GROUP BY CONVERT(DATE,NGAYLAP) ,dbo.MONAN.MAMA,TENMA,GIA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetThongKeTheoTenMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetThongKeTheoTenMonAn]
@tenma VARCHAR(10),@thoigianbatdau SMALLDATETIME,@thoigianketthuc SMALLDATETIME
AS
BEGIN
DECLARE @ten NVARCHAR(10)= '%'+ dbo.fuConvertToUnsign1(@tenma)+'%' 
SELECT CTHD.MAMA,TENMA,SUM(SoLuongMA) AS SoLan FROM dbo.CTHD JOIN dbo.MONAN
ON MONAN.MAMA = CTHD.MAMA 
JOIN dbo.HOADONBANHANG ON HOADONBANHANG.MAHD = CTHD.MAHD
WHERE NGAYLAP <=@thoigianketthuc AND NGAYLAP>=@thoigianbatdau
AND dbo.fuConvertToUnsign1(TENMA) LIKE @ten
GROUP BY CTHD.MAMA,TENMA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_GetTIENDATHANHTOANByMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetTIENDATHANHTOANByMAHD]
@MAHD VARCHAR(10)
AS
BEGIN
SELECT TIENDATHANHTOAN FROM dbo.HOADONBANHANG WHERE MAHD=@MAHD
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertBangLuong]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertBangLuong]
@mabl VARCHAR(10), @manv VARCHAR(10),@thoigianbatdau DATE, @thoigianketthuc DATE, @tongtien FLOAT, @NgayLap SMALLDATETIME
AS
BEGIN
INSERT dbo.BANGLUONGNHANVIEN( MABL ,MANV ,THOIGIANBATDAU ,THOIGIANKETTHUC ,TONGTIENLUONG,NGAYLAP)
VALUES  ( @mabl ,@manv ,@thoigianbatdau ,@thoigianketthuc ,@tongtien,@NgayLap)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertCTHD]
@MAHD VARCHAR(10), @MAMA VARCHAR(10), @SoLuongMA INT, @TRANGTHAI INT
AS
BEGIN
	DECLARE @COUNTcthd INT=0
	SELECT @COUNTcthd=COUNT(*) FROM dbo.CTHD WHERE MAHD=@MAHD AND MAMA=@MAMA AND TRANGTHAI=@TRANGTHAI
	IF(@COUNTcthd>0)
	BEGIN
		UPDATE CTHD SET SoLuongMA=@SoLuongMA+SoLuongMA WHERE MAHD=@MAHD AND MAMA=@MAMA AND TRANGTHAI=@TRANGTHAI
	END
	ELSE
	BEGIN
		INSERT INTO dbo.CTHD( MAHD, MAMA, SoLuongMA, TRANGTHAI )VALUES  ( @MAHD, @MAMA,@SoLuongMA,@TRANGTHAI)
	END
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertCTHDN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertCTHDN]
@mahd VARCHAR(10),@matp VARCHAR(10),@soluong FLOAT
AS
BEGIN
INSERT dbo.CTHDN ( MAHDN, MATP, SoLuongThucPham )VALUES  ( @mahd,@matp,@soluong)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertCTMAbyMAMA]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_insertCTMAbyMAMA]
@mama VARCHAR(10),@matp VARCHAR(10),@khoiLuong FLOAT
AS
BEGIN
	INSERT dbo.CTMA( MAMA, MATP, KhoiLuongTP )VALUES  ( @mama,@matp,@khoiLuong)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertCTNL]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertCTNL]
@manv VARCHAR(10),@NgayLam DATE
AS
BEGIN
	INSERT dbo.CTNL( MANV, NgayLam, TRALUONG )VALUES  ( @manv,@NgayLam,0)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertCTTP]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertCTTP]
@matp VARCHAR(10), @mancc VARCHAR(10)
AS
BEGIN
DECLARE @cOUNT INT =0
SELECT @cOUNT = COUNT(*) FROM dbo.CTTP WHERE MATP=@matp AND MANCC=@mancc
IF(@cOUNT=0)
BEGIN
INSERT dbo.CTTP( MATP, MANCC )VALUES  ( @matp,@mancc)
END
END




GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTHOADON]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_INSERTHOADON]
@MAHD VARCHAR(10),@NGAYLAP SMALLDATETIME, @THOIGIANBATDAU SMALLDATETIME, @TONGTIEN FLOAT,
@TIENTHANHTOAN FLOAT, @TRANGTHAI INT, @MAKH VARCHAR(10),@MANV VARCHAR(10), @MABA VARCHAR(10)
AS
BEGIN
	INSERT INTO dbo.HOADONBANHANG( MAHD , NGAYLAP ,THOIGIANBATDAU ,TONGTIEN ,TIENDATHANHTOAN  ,TRANGTHAI ,MAKH ,MANV ,MABA)
	VALUES  ( @MAHD , @NGAYLAP ,@THOIGIANBATDAU ,@TONGTIEN ,@TIENTHANHTOAN,@TRANGTHAI , @MAKH , @MANV , @MABA )
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertHoaDonNhap]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertHoaDonNhap]
@mahd VARCHAR(10), @ngaylap SMALLDATETIME, @tongtien FLOAT, @trangThai INT
AS
BEGIN
INSERT dbo.HOADONNHAP( MAHDN, NGAYLAP, TONGTIEN, TRANGTHAI )VALUES  ( @mahd,@ngaylap,@tongtien,@trangThai)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertKhachHang]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertKhachHang]
@makh VARCHAR(10), @tenkh NVARCHAR(40), @sdt VARCHAR(12)
AS
BEGIN
INSERT dbo.KHACHHANG( MAKH, TENKH, SODIENTHOAI )
VALUES  ( @makh, @tenkh, @sdt )
END




GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTLOAIMONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	PROC	[dbo].[USP_INSERTLOAIMONAN]
@MALOAI VARCHAR(10), @TENLOAI NVARCHAR(40)
AS
BEGIN
	INSERT INTO dbo.LOAIMONAN( MALOAIMA, TENLOAIMA )VALUES  ( @MALOAI,@TENLOAI)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertMonAn]
@mama VARCHAR(10),@tenma NVARCHAR(40), @gia FLOAT,@maloaima VARCHAR(10)
AS
BEGIN
	INSERT dbo.MONAN( MAMA, TENMA, GIA, MALOAIMA )VALUES  ( @mama, @tenma,  @gia,@maloaima)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertNgayLam]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertNgayLam]
@ngaylam DATE
AS
BEGIN
	INSERT dbo.NGAYLAM( THOIGIAN )VALUES  ( @ngaylam)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertNhanVien]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_insertNhanVien]
@manv VARCHAR(10), @hoten NVARCHAR(40),@Datetime DATE, @diachi NVARCHAR(40),@sdt VARCHAR(12),@NGVAOLAM DATE,@phanquyen INT,@mucluong FLOAT,@matkhau VARCHAR(200)
AS
BEGIN
INSERT dbo.NHANVIEN( MANV ,HOTEN ,NGAYSINH ,DIACHI ,SDT ,NGVAOLAM ,PHANQUYEN ,MUCLUONG , MATKHAU)
VALUES  ( @manv , @hoten , @Datetime , @diachi , @sdt , @NGVAOLAM ,  @phanquyen , @mucluong , @matkhau)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTTABLE]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_INSERTTABLE]
@MABA VARCHAR(10), @TRANGTHAI	INT
AS
BEGIN
	INSERT	INTO	dbo.BANAN( MABA, TRANGTHAI )VALUES  (@MABA,@TRANGTHAI)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_insertThucPham]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[USP_insertThucPham]
@matp VARCHAR(10), @tentp NVARCHAR(40),@giatp FLOAT,@khoiluongtonkho FLOAT
AS
BEGIN
INSERT dbo.THUCPHAM( MATP, TENTP, GiaTP, KHOILUONGTONKHO )VALUES  ( @matp,@tentp, @giatp,@khoiluongtonkho)
END




GO
/****** Object:  StoredProcedure [dbo].[USP_isCTNL]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_isCTNL]
@manv VARCHAR(10),@NgayLam DATE
AS
BEGIN
	SELECT COUNT(*) FROM dbo.CTNL WHERE MANV=@manv AND NgayLam =@NgayLam
END




GO
/****** Object:  StoredProcedure [dbo].[USP_isNgayLam]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_isNgayLam]
@ngaylam DATE
AS
BEGIN
	SELECT COUNT(*)FROM dbo.NGAYLAM WHERE THOIGIAN=@ngaylam
END




GO
/****** Object:  StoredProcedure [dbo].[USP_listNgayLamChuaTinhLuong]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_listNgayLamChuaTinhLuong]
@tuNgay DATE,@denNgay DATE,@MANV VARCHAR(10)
AS
BEGIN
	SELECT	MANV,THOIGIAN FROM	dbo.CTNL JOIN  dbo.NGAYLAM ON NGAYLAM.THOIGIAN = CTNL.NgayLam WHERE	MANV = @MANV AND TRALUONG=0 AND NgayLam<=@denNgay AND NgayLam>=@tuNgay 
END




GO
/****** Object:  StoredProcedure [dbo].[USP_resetPass]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_resetPass]
@manv VARCHAR(10)
AS
BEGIN
	UPDATE dbo.NHANVIEN SET MATKHAU='1962026656160185351301320480154111117132155' WHERE MANV =@manv
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATEACCOUNTINFOMATION]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_UPDATEACCOUNTINFOMATION]
@MANV VARCHAR(10),@HOTEN NVARCHAR(40),@DIACHI NVARCHAR(40),@SDT VARCHAR(12),@NGSINH SMALLDATETIME
AS
BEGIN
UPDATE dbo.NHANVIEN SET HOTEN =@HOTEN,DIACHI =@DIACHI,SDT=@SDT,NGAYSINH=@NGSINH WHERE MANV=@MANV
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateCTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateCTHD]
@mahd VARCHAR(10), @mama VARCHAR(10),@sl INT,@trangthai INT
AS
BEGIN
IF(@sl=0)
BEGIN
	DELETE dbo.CTHD WHERE MAHD=@mahd AND MAMA=@mama
END
ELSE
BEGIN
UPDATE dbo.CTHD SET SoLuongMA=@sl,TRANGTHAI=@trangthai WHERE MAHD=@mahd AND MAMA=@mama
END
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateCTHDChicken]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_updateCTHDChicken]
@mahd VARCHAR(10), @mama VARCHAR(10),@trangthaiOld int, @TrangThai INT
AS
BEGIN
	DECLARE @count INT
	SELECT @count=COUNT(*) FROM dbo.CTHD WHERE MAHD =@mahd AND MAMA=@mama AND TRANGTHAI=@TrangThai
	IF(@count>0)
	BEGIN
		DECLARE @SLMA INT
		SELECT @SLMA=SoLuongMA FROM dbo.CTHD WHERE MAHD=@mahd AND MAMA=@mama AND TRANGTHAI=@trangthaiOld
		UPDATE dbo.CTHD SET SoLuongMA = SoLuongMA + @SLMA WHERE MAHD = @mahd AND MAMA=@mama AND TRANGTHAI = @TrangThai
		DELETE cthd WHERE MAHD=@mahd AND MAMA=@mama AND TRANGTHAI=@trangthaiOld
	END
	ELSE
	BEGIN
		UPDATE dbo.CTHD SET TRANGTHAI=@TrangThai WHERE MAHD = @mahd AND MAMA=@mama AND TRANGTHAI = @trangthaiOld
	END
    
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATEHOADONCheckOut]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_UPDATEHOADONCheckOut]
@mahd VARCHAR(10)
AS
BEGIN

	DELETE dbo.CTHD WHERE MAHD=@mahd AND TRANGTHAI =-1
	UPDATE	dbo.HOADONBANHANG SET TRANGTHAI =1,TIENDATHANHTOAN=TONGTIEN WHERE mahd=@mahd AND TRANGTHAI=0
end




GO
/****** Object:  StoredProcedure [dbo].[USP_updateHoaDonNhapbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_updateHoaDonNhapbyMAHD]
@mahd VARCHAR(10)
AS
BEGIN
	UPDATE dbo.HOADONNHAP SET TRANGTHAI=1 WHERE MAHDN=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateKhachHang]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_updateKhachHang]
@makh VARCHAR(10), @tenkh NVARCHAR(40), @sdt VARCHAR(12)
AS
BEGIN
UPDATE dbo.KHACHHANG SET TENKH=@tenkh, SODIENTHOAI = @sdt WHERE MAKH = @makh
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATELOAIMONAN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATELOAIMONAN]
@MALOAIMA VARCHAR(10), @TEN NVARCHAR(40)
AS
BEGIN
	UPDATE dbo.LOAIMONAN SET TENLOAIMA = @TEN WHERE MALOAIMA=@MALOAIMA
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateMonAn]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_updateMonAn]
@mama VARCHAR(10),@tenma NVARCHAR(40), @gia FLOAT,@maloaima VARCHAR(10)
AS
BEGIN
	UPDATE dbo.MONAN SET MALOAIMA=@maloaima,TENMA=@tenma,GIA=@gia WHERE MAMA=@mama
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateNhanVien]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_updateNhanVien]
@manv VARCHAR(10), @hoten NVARCHAR(40),@Datetime DATE, @diachi NVARCHAR(40),@sdt VARCHAR(12),@NGVAOLAM DATE,@phanquyen INT,@mucluong FLOAT
AS
BEGIN
update dbo.NHANVIEN SET HOTEN=@hoten,NGAYSINH=@Datetime,DIACHI=@diachi,SDT=@sdt,NGVAOLAM=@NGVAOLAM,PHANQUYEN=@phanquyen,MUCLUONG=@mucluong WHERE MANV=@manv
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATEPASSBYUSERNAME]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_UPDATEPASSBYUSERNAME]
@MANV VARCHAR(10), @PASS VARCHAR(200)
AS
BEGIN
	UPDATE dbo.NHANVIEN SET MATKHAU= @PASS WHERE MANV=@MANV
END




GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATETABLE]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE	PROC	[dbo].[USP_UPDATETABLE]
@maba VARCHAR(10), @trangthai INT
AS
BEGIN
UPDATE	dbo.BANAN	SET	TRANGTHAI	= @trangthai WHERE	MABA=@maba
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateThoiGianDenHOADONbyMAHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_updateThoiGianDenHOADONbyMAHD]
@mahd VARCHAR(10), @ThoiGianDen SMALLDATETIME
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET THOIGIANBATDAU = @ThoiGianDen WHERE MAHD=@mahd
END




GO
/****** Object:  StoredProcedure [dbo].[USP_updateThucPham]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[USP_updateThucPham]
@matp VARCHAR(10), @tentp NVARCHAR(40),@giatp FLOAT,@khoiluongtonkho FLOAT
AS
BEGIN
	UPDATE dbo.THUCPHAM SET TENTP=@tentp,GiaTP=@giatp,KHOILUONGTONKHO=@khoiluongtonkho WHERE MATP=@matp
END




GO
/****** Object:  Trigger [dbo].[UTG_DeleteCTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_DeleteCTHD] ON [dbo].[CTHD] FOR DELETE
AS
BEGIN
	DECLARE @countOld INT
	DECLARE @MAHD VARCHAR(10)
	DECLARE @MAMA VARCHAR(10)
	DECLARE @TrangThai INT
	SELECT @countOld = SoLuongMA, @MAHD=Deleted.MAHD,@MAMA=Deleted.MAMA,@TrangThai=Deleted.TRANGTHAI FROM Deleted
	IF(@TrangThai=-1)
	BEGIN
		SELECT MATP,KhoiLuongTP INTO temp FROM dbo.CTMA WHERE MAMA=@MAMA
		DECLARE @count INT
		SELECT @count = COUNT(*) FROM temp
		WHILE(@count>0)
		BEGIN
			DECLARE @MATP VARCHAR(10)
			DECLARE @KhoiLuongTP FLOAT
			SELECT @MATP = MATP, @KhoiLuongTP = KhoiLuongTP FROM temp
			DELETE temp WHERE MATP=@MATP
			UPDATE dbo.THUCPHAM SET KHOILUONGTONKHO=KHOILUONGTONKHO-(@KhoiLuongTP*(-@countOld)) WHERE MATP=@MATP
			SELECT @count =@count-1
        END	
		DROP TABLE temp
	DECLARE @TongTien FLOAT =0
	SELECT dbo.CTHD.MAMA,SUM(SoLuongMA) AS [SL], SUM(GIA) AS [GiA] INTO tempCTHD FROM dbo.CTHD JOIN dbo.MONAN ON MONAN.MAMA = CTHD.MAMA WHERE MAHD=@MAHD GROUP BY CTHD.MAMA
	SELECT @TongTien=@TongTien +(SL*GIA) FROM tempCTHD
	SELECT @TongTien=@TongTien
	DROP TABLE 	tempCTHD
	UPDATE dbo.HOADONBANHANG SET TONGTIEN = @TongTien WHERE MAHD=@MAHD
	END
    
	
END



GO
/****** Object:  Trigger [dbo].[UTG_Insert]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_Insert] ON [dbo].[CTHD] FOR INSERT
AS
BEGIN
    DECLARE @SL int
	DECLARE @MAHD VARCHAR(10)
	DECLARE @MAMA VARCHAR(10)
	DECLARE @TrangThai INT
	SELECT @MAHD =MAHD, @MAMA =MAMA,@SL= Inserted.SoLuongMA, @TrangThai=Inserted.TRANGTHAI FROM Inserted
	IF(@TrangThai=-1)
	BEGIN
		SELECT MATP,KhoiLuongTP INTO temp FROM dbo.CTMA WHERE MAMA=@MAMA
		DECLARE @count INT
		SELECT @count = COUNT(*) FROM temp

		WHILE(@count>0)
		BEGIN
			DECLARE @MATP VARCHAR(10)
			DECLARE @KhoiLuongTP FLOAT
			SELECT @MATP = MATP, @KhoiLuongTP = KhoiLuongTP FROM temp
			DELETE temp WHERE MATP=@MATP
			UPDATE dbo.THUCPHAM SET KHOILUONGTONKHO=KHOILUONGTONKHO-(@KhoiLuongTP*@SL) WHERE MATP=@MATP
			SELECT @count =@count-1
        END	
		DROP TABLE temp
	END
    
	DECLARE @TongTien FLOAT =0
	SELECT dbo.CTHD.MAMA,SUM(SoLuongMA) AS [SL], SUM(GIA) AS [GiA] INTO tempCTHD FROM dbo.CTHD JOIN dbo.MONAN ON MONAN.MAMA = CTHD.MAMA WHERE MAHD=@MAHD GROUP BY CTHD.MAMA
	SELECT @TongTien=@TongTien +(SL*GIA) FROM tempCTHD
	SELECT @TongTien=@TongTien
	DROP TABLE 	tempCTHD
	UPDATE dbo.HOADONBANHANG SET TONGTIEN = @TongTien WHERE MAHD = @MAHD

END



GO
/****** Object:  Trigger [dbo].[UTG_UpdateCTHD]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_UpdateCTHD] ON [dbo].[CTHD] FOR UPDATE
AS
BEGIN
	
	DECLARE @countOld INT
	DECLARE @trangthaiOld INT
	SELECT @countOld = SoLuongMA,@trangthaiOld=Deleted.TRANGTHAI FROM Deleted

	DECLARE @MAHD VARCHAR(10)
	DECLARE @MAMA VARCHAR(10)
	DECLARE @trangthai INT
	DECLARE @SL int
	SELECT @MAHD =MAHD, @MAMA =MAMA,@SL=Inserted.SoLuongMA,@trangthai=Inserted.TRANGTHAI FROM Inserted
	IF(@TrangThai=-1)
	BEGIN
		SELECT MATP,KhoiLuongTP INTO temp FROM dbo.CTMA WHERE MAMA=@MAMA
		DECLARE @count INT
		SELECT @count = COUNT(*) FROM temp

		WHILE(@count>0)
		BEGIN
			DECLARE @MATP VARCHAR(10)
			DECLARE @KhoiLuongTP FLOAT
			SELECT @MATP = MATP, @KhoiLuongTP = KhoiLuongTP FROM temp
			DELETE temp WHERE MATP=@MATP
			UPDATE dbo.THUCPHAM SET KHOILUONGTONKHO=KHOILUONGTONKHO-(@KhoiLuongTP*(@SL-@countOld)) WHERE MATP=@MATP
			SELECT @count =@count-1
        END	
		DROP TABLE temp
	END
    
	DECLARE @TongTien FLOAT =0
	SELECT dbo.CTHD.MAMA,SUM(SoLuongMA) AS [SL], SUM(GIA) AS [GiA] INTO tempCTHD FROM dbo.CTHD JOIN dbo.MONAN ON MONAN.MAMA = CTHD.MAMA WHERE MAHD=@MAHD GROUP BY CTHD.MAMA
	SELECT @TongTien=@TongTien +(SL*GIA) FROM tempCTHD
	SELECT @TongTien=@TongTien
	DROP TABLE 	tempCTHD
	UPDATE dbo.HOADONBANHANG SET TONGTIEN = @TongTien WHERE MAHD=@MAHD
END



GO
/****** Object:  Trigger [dbo].[UTG_insertCTHDN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_insertCTHDN] ON [dbo].[CTHDN] FOR INSERT
AS
BEGIN
	DECLARE @mahdn VARCHAR(10)
	SELECT @mahdn = Inserted.MAHDN FROM Inserted
	DECLARE @tongtien FLOAT = 0
	
	SELECT @tongtien=@tongtien + (GiaTP*SoLuongThucPham) FROM dbo.CTHDN JOIN dbo.THUCPHAM ON THUCPHAM.MATP = CTHDN.MATP WHERE MAHDN = @mahdn
	UPDATE dbo.HOADONNHAP SET TONGTIEN = @tongtien WHERE MAHDN=@mahdn
END



GO
/****** Object:  Trigger [dbo].[UTG_InsertHOADON]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_InsertHOADON]
ON [dbo].[HOADONBANHANG] FOR INSERT,UPDATE
AS
BEGIN
	DECLARE @MABA VARCHAR(10)
	SELECT @MABA=MABA FROM Inserted

	DECLARE @CountDatTruoc INT
	SELECT @CountDatTruoc=COUNT(*) FROM dbo.HOADONBANHANG WHERE TRANGTHAI=-1 AND MABA = @MABA
	IF(@CountDatTruoc>0)
	BEGIN
		UPDATE dbo.BANAN SET TRANGTHAI = 2 WHERE MABA = @MABA
    END

	DECLARE @CountDangAn INT
	SELECT @CountDangAn=COUNT(*) FROM dbo.HOADONBANHANG WHERE TRANGTHAI=0 AND MABA = @MABA
    IF(@CountDangAn>0)
	BEGIN
		UPDATE dbo.BANAN SET TRANGTHAI = 1 WHERE MABA = @MABA
    END
	IF(@CountDatTruoc <=0 AND @CountDangAn <=0)
	BEGIN
		UPDATE dbo.BANAN SET TRANGTHAI = 0 WHERE MABA = @MABA
    END
    
END



GO
/****** Object:  Trigger [dbo].[UTG_updateHDN]    Script Date: 2017-06-07 4:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UTG_updateHDN] ON [dbo].[HOADONNHAP] FOR UPDATE
AS
BEGIN
	DECLARE @trangThai INT
	DECLARE @mahd VARCHAR(10)
	SELECT @trangThai = Inserted.TRANGTHAI, @mahd=Inserted.MAHDN FROM Inserted
	IF(@trangThai=1)
	BEGIN
		SELECT  MATP,SoLuongThucPham INTO temp FROM dbo.CTHDN WHERE MAHDN = @mahd
		DECLARE @Count int
		SELECT @Count = COUNT(*) FROM temp
		WHILE (@Count>0)
		BEGIN
			DECLARE @MATP VARCHAR(10)
			DECLARE @soluong FLOAT
            SELECT @MATP=MATP,@soluong=SoLuongThucPham FROM temp
			UPDATE dbo.THUCPHAM SET KHOILUONGTONKHO= KHOILUONGTONKHO + @soluong WHERE MATP=@MATP
			DELETE temp WHERE MATP=@MATP
			SELECT @Count = @Count-1
        END
		DROP TABLE temp
    END
END



GO
